head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")

  title The Resume of #{resume.basics.name}

  link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
  link(rel="stylesheet" href="https://unpkg.com/tachyons-columns@1.0.5/src/tachyons-columns.css")

  -
    const theme = (resume.meta && resume.meta.theme) || '#0074D9'
    const darkGray = '#333333'
    const white = '#ffffff'


    const accent = getContrast.ratio(theme, white) >= 3.5
      ? theme
      : darkGray
    const accentText = getContrast.ratio(theme, white) >= 3.5
      ? white
      : darkGray

  style(type="text/css").
    :root {
      --primary: #{theme};
      --accent: #{accent};
      --accent-text: #{accentText};
    }

    .bg-primary {
      background-color: var(--primary);
    }

    .accent-text {
      color: var(--accent-text);
    }

    .accent {
      color: var(--accent);
    }

    .b--primary {
      border-color: var(--primary);
    }

    ::selection {
      background-color: var(--primary);
      color: var(--accent-text);
    }

    .column-layout {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr;
    }

    @media (min-width: 36em) {
      .column-layout {
        grid-template-columns: 1fr 2fr;
      }
    }

    .page {
      max-width: 8.5in;
    }

    @media (min-width: 8.5in) {
      .mv-5-page {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }

      .bg-light-gray-page {
        background-color: #eee;
      }

      .shadow-2-page {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
      }

      .db-page {
        display: block;
      }
    }

    @media print {
      html {
        font-size: 87.5%;
      }

      .page {
        background-color: transparent;
        box-shadow: none;
      }

      header {
        background-color: transparent !important;
        color: #333 !important;
      }

      header h1 {
        color: var(--accent);
      }

      header a {
        color: #333 !important;
      }

      .column-layout {
        grid-template-columns: 1fr 2fr;
      }
    }

  link(rel="stylesheet" href="https://unpkg.com/tachyons-print@4.7.2/css/tachyons-print.css")
